.feedback {
  display: flex;

  @include vp-1199 {
    flex-direction: column;
  }
}

.feedback__free-lesson {
  width: 50%;
  color: $white;
  background-color: $text-color;

  @include vp-1199 {
    width: 100%;
  }
}
