.socials {
  margin: -5px 0 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 111px;

  @include vp-1199 {
    margin: 0 0 0 auto;
  }

  @include vp-767 {
    margin-left: 0;
    display: flex;
    position: absolute;
    left: 0;
  }
}

.socials__item {
  margin-right: 12px;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  align-self: flex-start;

  @include vp-1199 {
    margin-right: 12px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

.socials__link--vk {
  background: url("../img/vk.svg") 50% 50% no-repeat;

  @include vp-1199 {
    align-self: flex-start;
  }

  @include vp-767 {
    width: 25px;
    height: 25px;
    align-self: flex-start;
  }
}

.socials__link--ok {
  background: url("../img/ok.svg") 50% 50% no-repeat;
}

.socials__link--reddit {
  background: url("../img/reddit.svg") 50% 50% no-repeat;
}

.socials__link:hover,
.socials__link:focus {
  opacity: 0.5;
  cursor: pointer;
}
