.subscription {
  background: $bg-color;
  margin-bottom: 120px;
  position: relative;
  padding-top: 119px;
  padding-bottom: 64px;

  @include vp-1199 {
    padding: 100px 0 50px;
    margin-bottom: 97px;
  }

  @include vp-767 {
    padding: 74px 0 17px;
    margin-bottom: 70px;
  }
}

.subscription h2 {
  margin-bottom: 38px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.subscription::before {
  content: "";
  position: absolute;
  right: 0;
  top: 60%;
  width: 287px;
  height: 494px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  background-image: image-set("../img/disks-desktop@1x.png" 1x, "../img/disks-desktop@2x.png" 2x);


  @include vp-1199 {
    right: 0;
    top: 82%;
    width: 347px;
    height: 444px;
    background-size: cover;
    background-image: image-set("../img/disks-tablet@1x.png" 1x, "../img/disks-tablet@2x.png" 2x);
  }

  @include vp-767 {
    display: none;
  }
}

.subscription__center {
  max-width: 1160px;
  margin: auto;
  padding-top: 114px;
  padding-bottom: 80px;
}

.subscription__times-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.subscription__times-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(228, 228, 228);
}

.subscription__time-item {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(16, 38, 84, 0.5);
  margin-right: 42px;
  padding-bottom: 15px;
  outline: none;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    margin-right: 54px;
    padding-bottom: 13px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    margin-right: 40px;
    padding-bottom: 16px;
  }
}

.subscription__time-item:hover {
  color: $text-color;
}

.subscription__time-item:focus {
  cursor: pointer;
}

.subscription__time-item:last-of-type {
  margin-right: 0;
}

.subscription__time-item:hover,
.subscription__time-item:focus {
  border-bottom: 2px solid $active-red;
  cursor: pointer;
}

.subscription__rates-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  margin-top: 37px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }
}

.subscription__rate-item {
  width: 360px;
  box-sizing: border-box;
  margin-bottom: 40px;
  background: $white;
  padding: 7px;
  position: relative;
  z-index: 1;
  margin-right: 40px;

  @include vp-1199 {
    width: 442px;
    margin-right: 0;
    margin-bottom: 36px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 37px;
  }
}

.subscription__rate-item:nth-of-type(3n) {
  margin-right: 0;

  @media (max-width: 1300px)  {
    margin-right: 40px;
  }

  @include vp-1199 {
    margin-right: 0;
  }
}

.subscription__rate-item:nth-of-type(2n) {
  @media (min-width: 1300px) {
      margin-right: 40px;
  }
}

.subscription__rate-item:hover,
.subscription__rate-item:focus {
  background: linear-gradient(-30deg, #003d85, #b80027 80%);
}

.subscription__inner {
  padding: 55px 70px 60px 69px;
  text-align: center;
  background: $white;

  @include vp-1199 {
    padding: 60px 70px 60px 69px;
  }

  @include vp-767 {
    padding: 41px 33px 47px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscription__inner h3 {
  font-size: 26px;
  line-height: 29px;
  font-weight: 700;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 10px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.subscription__inner p:first-of-type {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $grey-blue;
  margin-top: 0;
  margin-bottom: 65px;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.subscription__inner div {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  color: $blue;
  padding-right: 44px;
  margin-top: 0;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
    padding-right: 33px;
    margin-bottom: 29px;
  }
}

.subscription__inner div::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 42px;
  z-index: 2;
  background: url("../img/icon-cureency.svg") 50% 50% no-repeat;

  @include vp-1199 {
    right: 61px;
  }

  @include vp-767 {
    background-size: contain;
    top: 20px;
    right: 0;
    width: 24px;
    height: 33px;
  }
}

.subscription__inner div::after {
  content: attr(data-price);
  position: absolute;
  bottom: -4px;
  left: 0;
  font-size: 100px;
  line-height: 150px;
  color: rgba(232, 232, 232, 0.48);

  @include vp-1199 {
    left: 42px;
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    left: -12%;
    top: -45px;
  }
}

.subscription__inner span {
  position: relative;
  z-index: 2;
}
