.tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  width: fit-content;
}

.tabs__item:not(:last-child) {
  margin: 0 45px 14px 0;

  @include vp-1199 {
    margin-right: 55px;
  }

  @include vp-767 {
    margin: 0 44px 11px 0;
  }
}

.tabs__link {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: $text-color;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.tabs__link:active,
.tabs .tabs__link--current {
  color: $text-color;
  border: none;
  outline: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $active-red;
  }
}

.tabs .tabs__link--current {
  pointer-events: none;
}

.tabs-body {
  display: none;
}

.tabs-body--current {
  display: block;
}
