.tabs {
  text-align: center;
  padding-top: 34px;

  @include vp-767 {
    padding-top: 23px;
  }
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  display: none;
  padding: 35px 0 37px;

  @include vp-1199 {
    padding: 51px 0 53px;
  }

  @include vp-767 {
    padding: 34px 0 53px;
  }
}

.tab-btn-1:checked ~ .content-1,
.tab-btn-2:checked ~ .content-2,
.tab-btn-3:checked ~ .content-3 {
  display: block;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs__border {
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  position: absolute;
  width: 341px;
  top: 243px;

  @include vp-1199 {
    width: 332px;
    top: 204px;
  }

  @include vp-767 {
    width: 290px;
    top: 160px;
  }
}
