.trainers {
  max-width: 1272px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;


  @include vp-1279 {
    max-width: 1150px;
  }

  @include vp-1199 {
    max-width: 678px;
    padding-bottom: 80px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    max-width: 290px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.trainers__control-left {
  border-color: transparent;
  position: absolute;
  border-left: 0;
  top: 230px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid #afafaf;
  border-bottom: 16px solid transparent;

  @media (min-width: 1250px) {
    left: 15px;
  }

  @include vp-1199 {
    left: 0;
    top: 214px;
  }

  @include vp-767 {
    top: 207px;
    border-right: 10px solid #afafaf;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }
}

.trainers__control-left:hover,
.trainers__control-left:focus {
  cursor: pointer;

  @include vp-767 {
    outline: none;
  }
}

.trainers__control-left::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 1px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid $white;
  border-bottom: 16px solid transparent;

  @include vp-767 {
    top: -9px;
    left: 1px;
    border-top: 9px solid transparent;
    border-right: 10px solid $white;
    border-bottom: 9px solid transparent;
  }
}

.trainers__control-right {
  border-color: transparent;
  position: absolute;
  top: 230px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid #afafaf;
  border-bottom: 16px solid transparent;

  @media (min-width: 1250px) {
    right: 15px;
  }

  @include vp-1199 {
    right: 0;
    top: 214px;
  }

  @include vp-767 {
    top: 207px;
    border-top: 9px solid transparent;
    border-left: 10px solid #afafaf;
    border-bottom: 9px solid transparent;
  }
}

.trainers__control-right:hover,
.trainers__control-right:focus {
  cursor: pointer;

  @include vp-767 {
    outline: none;
  }
}

.trainers__control-right::before {
  content: "";
  position: absolute;
  top: -16px;
  right: 1px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid $white;
  border-bottom: 16px solid transparent;

  @include vp-767 {
    top: -9px;
    right: 1px;
    border-top: 9px solid transparent;
    border-left: 10px solid $white;
    border-bottom: 9px solid transparent;
  }
}

.trainers__control-left:hover,
.trainers__control-right:hover,
.trainers__control-left:focus,
.trainers__control-right:focus {
  cursor: pointer;
}

.trainers h2 {
  text-align: start;
  padding-left: 58px;
  margin-bottom: 40px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 36px;
  }
}

.trainers__wrap {
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;

  @include vp-1279 {
    max-width: 1060px;
  }

  @include vp-1199 {
    max-width: 568px;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.trainers__list {
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
  padding: 10px 0;
}

.trainers__item {
  width: 260px;
  margin-right: 40px;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 2;

  @include vp-1279 {
    margin-right: 10px;
  }

  @include vp-1199 {
    width: 268px;
    margin-right: 30px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.trainers__item img {
  width: 260px;
  height: 294px;
  display: block;
  object-fit: cover;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
  }
}

.trainers__inner {
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 243px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include vp-1199 {
    width: 268px;
    padding-top: 243px;
  }

  @include vp-767 {
    width: 226px;
    padding-top: 220px;
  }
}

.trainers__inner p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: $white;
  margin-top: 0;
  margin-bottom: -3px;

  @include vp-1199 {
    padding-left: 13px;
    margin-top: 0;
    margin-bottom: -3px;
  }

  @include vp-767 {
    padding-left: 20px;
  }
}

.trainers__inner span {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #b6bdcc;
  margin-top: 0;
  margin-bottom: 32px;
  display: none;

  @include vp-1199 {
    padding-left: 13px;
    margin-bottom: 31px;
  }

  @include vp-767 {
    padding-left: 20px;
    margin-bottom: 32px;
  }
}

.trainers__summary-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  padding-left: 70px;
  padding-right: 10px;
  display: none;

  @include vp-1199 {
    padding-right: 20px;
  }

  @include vp-767 {
    padding-left: 49px;
  }
}

.trainers__summary-list li {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $white;
  margin-bottom: 13px;
  position: relative;
}

.trainers__summary-list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -15px;
  width: 6px;
  height: 6px;
  background: $white;
  border-radius: 50%;
}

.trainers__item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.trainers__item:hover .trainers__inner {
  padding-top: 50px;
  background-color: rgba(16, 38, 84, 0.9);

  @include vp-767 {
    padding-top: 40px;
  }
}

.trainers__item:hover span {
  display: block;
}

.trainers__item:hover .trainers__summary-list {
  display: block;
}


.trainers__button--prev,
.trainers__button--next {
  position: absolute;
  top: 44%;
  width: 20px;
  height: 42px;
  z-index: 10;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 42px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;

    @include vp-767 {
      width: 20px;
      height: 42px;
      background-image: url("../img/icon-right-mob.svg");
    }
  }

  &:hover,
  &:focus {
    background-color: #e8e8e8;
  }

  &:disabled {
    opacity: 0.5;
    background-color: transparent;
    cursor: default;
  }
}

.trainers__button--prev {
  left: 0;
  right: auto;
  margin-left: auto;

  @include vp-1199 {
    top: 44%;
    left: 0;
  }

  @include vp-767 {
    top: 51%;
  }

  &::after {
    top: -4px;
    right: 0;
    transform: rotate(180deg);

    @include vp-767 {
      top: -12px;
      left: -9px;
    }
  }
}
.trainers__button--next {
  right: 0;
  left: auto;
  margin-right: auto;

  @include vp-1199 {
    top: 44%;
    right: 0;
  }

  @include vp-767 {
    top: 51%;
  }

  &::after {
    top: 4px;
    left: 3px;

    @include vp-767 {
      top: 10px;
      left: 8px;
    }
  }
}
